.nav-filter{
    display: flex;
    justify-content: space-between;
    .click{
        select{
            width: 180px;
           border: none;
           outline: none;
           padding: 17.5px ;
           background-color: var(--card-color);
           transition:0.1s;
           padding-right: 15px;
           color: var(--dark);
           border-radius: 5px;
           font-size: 15px;
           box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.1);
        }
    }
    .search{
        position: relative;
        margin-bottom: 40px;
        
        svg{
            top: 18px;
            position: absolute;
            width: 20px;
           color:  var(--dark);
            left: 13px;
            height: 20px;
        }
        input{
            box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.1);
            border: none;
            border-radius: 5px;
            padding: 15px 0;
            color: var(--dark);
            font-size: 20px;
            text-indent: 40px;
            background-color: var(--card-color);
            
            transition:0.1s;
          
        }
        input::placeholder{
            font-size: 15px;
            color: var(--grey);
            transition:0.1s;
        }
        input:focus{
            outline: none;
        }
    }
}


@media (max-width:576px) {
   .nav-filter{
    flex-direction: column;
   }
 
   .search{
    width: 100%;
    input{
       width: 100%;
    }
}
select{
    margin-bottom: 20px;
}
    .card_image{
        width: 350px;
    }
    .card{
        h2{
            padding: 30px 0px 20px 0px;
            padding-left: 12px;
        }
        h4{
            padding: 20px 0px ;
            padding-left: 12px;
        }
        p{
            padding-bottom: 40px;
        }
    }
  .darkMode{
    
    h3{
        font-size: 15px;
    }
  }
  .nav{
    h1{
        font-size: 20px;
    }
  }
}
// @media (max-width:489px){
//     .search{
//         input{
//             width: 170px;
//         }
//     }
// }
@media (max-width:372px){
    .card{
        img{
            width:320px;
        }
    }
}